div#center-outside {
    display: flex;
    justify-content: center;
    
    height: 95dvh;

    text-align: center;
}

div#center-inside {
    display: flex;
    flex-direction: column;
    align-content: center;

    text-align: center;
}
