div#centre-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

div#centre-inside {
    display: flex;
    width: 75dvw;
    min-height: 75dvh;
    height: 75dvh;
    
}

div.contact-input {
    width: 75%;
    background: white;
    border: black solid 1px;
    border-radius: 15%;

}

div.contact-input:focus {
    border-color: blue;
}

div#info-box {
    width: 50%;
    align-content: center;
    justify-content: center;
    border: black solid 2px;
    
}

div#info-box-align {
    width: 50%;
    text-align: left;
    align-content: center;
    justify-content: center;
    border: black solid 2px;
}

div#input-box {
    width: 50%;
    align-content: center;
    justify-content: center; 
    background: rgba(30,30,30,0.3);
    border-radius: 15dvh;   
}

input[type="text"] {
    width: 90%;
    color:black;

    padding:3px;
    margin-bottom:20px;
    border-radius: 5px;

}

textarea#message-box {
    height:200px;
    width:90%;
    color:black;
    
    padding:3px;
    border-radius: 5px;
}

