div#centre-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 95vh;
}

div#centre-inside {
    display: inline-flex;

    width: 64dvw;
    min-height: 75dvh;
    height: 75dvh;
    
}

div#info-box {
    display: inline-flex;
    flex-direction: column;
    align-content: center;

    width: 30dvw;
}

div#info-box-contact-info {
    width: 24dvw;
    height: 20dvh;

    margin: 3dvh 1dvh 3dvw 3dvw;
    padding: 2dvw;

    background: rgba(20,20,20,0.3);
    border-radius: 3dvw;  

    text-align: left;

    overflow: hidden;
}

div#info-box-blank {
    width: 24dvw;
    height: 55dvh;

    margin: 1dvh 3dvh 3dvw 3dvw;
    padding: 2dvw;

    background: rgba(20,20,20,0.3);
    border-radius: 3dvw;  
}

div#input-box {
    align-content: center;
    justify-content: center; 

    width: 30dvw;

    margin: 3dvh 3dvh 3dvw 3dvw;
    padding: 2dvw;

    background: rgba(20,20,20,0.3);
    border-radius: 3dvw;   
}

input[type="text"] {
    width: 27dvw;
    
    padding: 0.5dvw;
    margin-bottom:20px;
    
    border-radius: 5px;

    color:black;
}

textarea#message-box {
    width: 27dvw;
    height: 25dvh;
    
    
    padding: 0.5dvw;
    border-radius: 5px;

    color:black;
}

