div#about-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

div#about-inside {
    display: flex;
    width: 75dvw;
    min-height: 75dvh;
    height: 75dvh;
    border: hotpink solid 5px;
}

div#about-left {
    display: flex;
    width: 40%;
    align-content: center;
    justify-content: center;

}

div#about-image {
    width: 70%;
    align-content: center;
    justify-content: center;

}

div#about-image img{
    width: 100%;
    aspect-ratio: 5/8;
    object-fit: cover;

    border: #222 solid 3px;
    border-radius: 10dvw;
}


div#about-right {
    width: 60%;
    align-content: center;
    justify-content: center;
}

div#about-right-inside {
    height: 75%
}

div#about-right-top {
    height: 30%;
    align-content: center;

    font-size: 4dvw;
}

div#about-right-middle {
    height: 40%;
}

div#about-right-bottom {
    height: 30%;
}


div#about-info {
    text-align: left;
    font-size: 1.5dvw;
}
