div#about-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

div#about-inside {
    display: flex;
    width: 75dvw;
    min-height: 75dvh;
    height: 75dvh;
    border: hotpink solid 5px;
}

div#about-left {
    display: flex;
    width: 40%;
    align-content: center;
    justify-content: center;
    border: red solid 2px;
}

div#about-image {
    width: 70%;
    align-content: center;
    justify-content: center;
    border: purple solid 2px;
}

div#about-image img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: #222 solid 3px;
    border-radius: 50%;
}


div#about-right {
    width: 60%;
    align-content: center;
    justify-content: center;
}

div#about-right-inside {
    height: 75%
}

div#about-right-top {
    height: 30%;
    border: lime solid 2px;
    align-content: center;
}

div#about-right-middle {
    height: 40%;
    border: olive solid 2px;
}

div#about-right-bottom {
    height: 30%;
    border: lime solid 2px;

}


div#about-info {

}


h1 {
    font-size: 50px;
}