div#center-outside {
    display: flex;
    justify-content: center;
    
    min-height: 95dvh;

    text-align: center;
}

div#center-inside {
    display: flex;
    flex-direction: column;
    align-content: center;
    

    border: black solid 5px;

    text-align: center;
}

div#projects-introduction {
    display: flex;
    flex-direction: column;
    width: 90dvw;
    aspect-ratio: 8/3;

    margin-top: 2dvh;
    margin-bottom: 4dvh;

    border-radius: 5px;
    background: rgba(120,120,120,0.2);    
}

div#projects-introduction-title {
    margin-top: 6dvh;

    background: rgba(20,20,20,0.3);
    border-top: black solid 10px;
    border-bottom: black solid 10px;
    
    font-size: 12dvw;
    color: #bcbcbc;
}

div#projects-introduction-description {
    margin-top: 6dvh;

    font-size: 2dvw;
}

div#projects-board {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    width:92dvw;
    max-width: 92dvw;

    border:black;
    margin-bottom: 4dvh;
}


div.project-container {
    display: flex;
    flex-direction: column;
    
    width: 29dvw;
    aspect-ratio: 5/7;
    
    margin: 0.5dvw;
    
    border-radius: 10px;
    background: rgba(80,80,80,0.3);
    box-shadow: 0 30px 40px rgba(0,0,0,0.6);
}

div.project-title {
    width: 100%;

    background: rgba(20,20,20,0.3);

    border-top: black solid 0.5dvh;
    border-bottom: black solid 0.5dvh;

    font-size: 1.75dvw;
}

div.project-image {
    width: 100%;
    aspect-ratio: 16/9;

    border-radius: 10px 10px 0px 0px;

    overflow: hidden;
}

div.project-image img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

    filter: blur(0.075dvw) brightness(0.95);
    border-radius: 10px 10px 0px 0px;
    
}

div.project-image-cover {
    width: 100%;
    aspect-ratio: 2/1;

    background-color: rgba(80,80,80,0.3);
}

div.project-description {
    margin: 1dvw;

    text-align: left;
    font-size: 1.2dvw;

    overflow-wrap: break-word;
    overflow: hidden;
}


div.project-skills {
    display: inline-flex;
    flex-wrap: wrap;

    width: 28dvw;
    padding: 0.5dvw;

    overflow: hidden;
}

div.project-skill-tag {
    margin: 0.2dvw;
    padding: 0.4dvh 0.4dvw 0.4dvh 0.4dvw;

    background-color: #65569963;
    border-radius: 0.5dvw;

    font-size: 1dvw;
}

div.project-footer {
    width: 29dvw;
    height: 8dvh;

    margin-top: auto;
    align-self: flex-end;
}

div.project-completion-date {
    height: 3dvh;

    font-size: 1.5dvw;
    
}

div.project-github-link {
    align-content: center;

    width: 29dvw;
    height: 4dvh;

    margin-top: 1dvh;
    
    background-color: #2b3137ab;
    border-radius: 0px 0px 10px 10px;
}

div.project-github-link a {
    text-decoration: none;
}