<!DOCTYPE html>
<html>

    <head>
        <title> Contact </title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/generic.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/contact.css')}}">
    </head>

    <body>
        <div class="page">

            <div>
                {% include "navbar.html" %}
            </div>

            <div id="centre-outside">
                <div id="centre-inside">
                    <div id="info-box">
                        <div id="info-box-align">
                            Contact Information. <br> Email: <br> lewismeakin2004@gmail.com <br> Phone: +44 7448 681 482 <br> LinkedIn: <br> https://www.linkedin.com/in/lewis-meakin-2392a3258
                    
                        </div>
                    </div>

                    <div id="input-box"> 
                        <form>
                            <div id="name-box">
                                <div id="first-name-input">
                                    <input type="text" name="first-name" class="form-input" placeholder="First Name" required/>
                                </div>

                                <div id="last-name-input">
                                    <input type="text" name="last-name" class="form-input" placeholder="Last Name" required/>
                                </div>
                            </div>
                            
                            <div id="email-input">
                                <input type="text" name="email" class="form-input" placeholder="Email Address" required/>
                            </div>

                            <div id="message-input">
                                <textarea id="message-box" name="message" placeholder="Message"> </textarea> 
                            </div>

                            <input type="submit" name="submit-button" class="submit-button" value="Submit"/>
                        </form>
                    </div>

                </div>
            </div> 

            
    </body>

</html>