<!DOCTYPE html>
<html>

    <head>
        <title> Experience </title>
        <link rel="icon" href="{{url_for('static', filename='images/favicons/felix-512x512.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/generic.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/experience.css')}}">
    </head>

    <body>
        <div class="page">

            <div>
                {% include "navbar.html" %}
            </div>
        
            <div id="center-outside">
                <div id="centre-inside">



                </div>
            </div>
        </div>
            
    </body>

</html>