<!DOCTYPE html>
<html>

    <head>
        <title> Homepage </title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/homepage.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/fade_in.css')}}">

        <link rel="stylesheet" href="{{url_for('static',filename='css/skills.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/projects.css')}}">

    </head>

    <body>
        <div class="page">

            <div>
                {% include "navbar.html" %}
            </div>

            <div id="about">
                <div id="about-center">
                    <img id="about-image" src="{{url_for('static',filename='images/me.jpg')}}">
                    <div id="about-info">
                        <p> I am a third year Computer Science at Coventry University. I have experience in several different coding languages
                            such as Python, C++, and JavaScript; however I do not struggle with learning new syntax and ultimately enjoy discovering
                            the quirks and niche applications that come with with different languages. I enjoy problem solving and the porcess that 
                            comes with designing, implementing, and optomising projects. I have applied my skills through several mediums: game design,
                            web development, application development, ect. While I thrive the best as an idividual I am not adverse to teamwork and can
                            prove myself a consistently useful member provided I am given adequate direction.
                        </p>
                    </div>
                </div>
            </div>

            <div id="projects">
                Projects
                <div class="project-display" id="project1">
                    
                </div>

                <div class="project-display" id="project2">
                    
                </div>

                <div class="project-display" id="project3">
                    
                </div>
            </div>

            <div id="skills">
                <div class="skill-slide" id="python">
                    <div class="skill-wheel" id="python">
                        Python Skill Wheel
                    </div>

                    <div class="skill-info" id="python">
                        Python Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="cpp">
                    <div class="skill-wheel" id="cpp">
                        C++ Skill Wheel
                    </div>

                    <div class="skill-info" id="cpp">
                        C++ Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="html">
                    <div class="skill-wheel" id="html">
                        HTML Skill Wheel
                    </div>

                    <div class="skill-info" id="html">
                        HTML Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="css">
                    <div class="skill-wheel" id="css">
                        CSS Skill Wheel
                    </div>

                    <div class="skill-info" id="css">
                        CSS Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="javascript">
                    <div class="skill-wheel" id="javascript">
                        JavaScript Skill Wheel
                    </div>

                    <div class="skill-info" id="javascript">
                        JavaScript Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="unity">
                    <div class="skill-wheel" id="unity">
                        Unity Skill Wheel
                    </div>

                    <div class="skill-info" id="unity">
                        Unity Skill Info
                    </div>
                </div>

                <div class="skill-shortcuts">
                    <div class="skill-shortcut" id="python" onclick="ManualSlideshow(0)">
                        Python Skill Shortcut
                    </div>

                    <div class="skill-shortcut" id="cpp" onclick="ManualSlideshow(1)">
                        C++ Skill Shortcut
                    </div>

                    <div class="skill-shortcut" id="html" onclick="ManualSlideshow(2)">
                        HTML Skill Shortcut
                    </div>

                    <div class="skill-shortcut" id="css" onclick="ManualSlideshow(3)">
                        CSS Skill Shortcut 
                    </div>

                    <div class="skill-shortcut" id="javascript" onclick="ManualSlideshow(4)">
                        JavaScript Skill Shortcut
                    </div>

                    <div class="skill-shortcut" id="unity" onclick="ManualSlideshow(5)">
                        Unity Skill Shortcut
                    </div>
                </div>
            </div>

            <div id="education">
                Education
            </div>

            <div id="career">
                Career
            </div>

            <div id="contact">
                Contact Me
            </div>

        </div>
        <script src="{{url_for('static',filename='scripts/fade_in.js')}}"></script>
        <script src="{{url_for('static',filename='scripts/skills_slideshow.js')}}"></script>
    </body>

</html>