<!DOCTYPE html>
<html>

    <head>
        <title> Projects </title>
        <link rel="icon" href="{{url_for('static', filename='images/favicons/felix-512x512.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/generic.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/projects.css')}}">
    </head>

    <body>
        <div class="page">

            <div>
                {% include "navbar.html" %}
            </div>

            <div id="center-outside">

                <div id="centre-inside">

                    <div id="projects-introduction">

                        <div id="projects-introduction-title">
                            PROJECTS
                        </div>

                        <div id="projects-introduction-description">
                            Come take a look at the catalogue of projects I've worked on. They show a cumulation of my interests and efforts that have built the skills I have today.
                        </div>
                        
                    </div>

                    <div id="projects-board">

                        <div class="project-container">
                            
                            <div class="project-image">
                                <img src="{{url_for('static',filename='images/Project-Images/personal-website.png')}}">
                            </div>

                            <div class="project-title">
                                Personal Website
                            </div>
                            
                            <div class="project-description">
                                Serving as a primary location document and showcase my experiece and skills, this website is built from the ground up by me.
                                <br> <br>
                                Hosted using Flask in Python, this website runs custom made HTML, CSS, and Java to create an environment I can be proud of.
                            </div>

                            <div class="project-skills"> 
                                <div class="project-skill-tag">HTML3</div>
                                <div class="project-skill-tag">CSS5</div>
                                <div class="project-skill-tag">JavaScript</div>
                                <div class="project-skill-tag">Python</div>
                                <div class="project-skill-tag">Web Development</div>
                            </div>                    
                            
                            <div class="project-footer">
                                <div class="project-completion-date">
                                    Completion Date: Ongoing
                                </div>

                                <div class="project-github-link" >
                                    <a href="https://github.com/Meakinl2/Personal-Website"> GitHub </a>  
                                </div>
                            </div>
                        </div>

                        <div class="project-container">

                            <div class="project-image">
                                <img src="{{url_for('static',filename='images/Project-Images/pokemon_data_analysis.png')}}">
                            </div>

                            <div class="project-title">
                                Pokemon Data Analysis 
                            </div>

                            <div class="project-description">
                                Kickstarted by a Kaggle Dataset, this project focuses on using various Python Libraries alongside Jupyter Notebook to Analyse, Visualise and Model the attributes of the first 807 Pokemon.
                                <br> <br>
                                Using Pandas to Read, Manipulate, and Clean the data before it can be displayed neatly using matplotlib and modelled using the various options provided by scipy.
                            </div>


                            <div class="project-skills"> 
                                <div class="project-skill-tag">Python</div>
                                <div class="project-skill-tag">Jupyter Notebook</div>
                                <div class="project-skill-tag">Data Analysis</div>
                                <div class="project-skill-tag">Data Visualisation</div>
                                <div class="project-skill-tag">Data Modelling</div>
                            </div>
                            
                            <div class="project-footer">
                                <div class="project-completion-date">
                                    Completion Date: Ongoing
                                </div>

                                <div class="project-github-link" >
                                    <a href="https://github.com/Meakinl2/Pokemon-Data-Analysis"> GitHub </a>  
                                </div>
                            </div>

                        </div>



                        <div class="project-container">
                            
                             <div class="project-image">
                                <img src="{{url_for('static',filename='images/Project-Images/greenflow.png')}}">
                            </div>

                            <div class="project-title">
                                GreenFlow - Dissertation
                            </div>

                            <div class="project-description">
                                GreenFlow is a Traffic Flow Simulator created in Unity Game Engine. Utilising Multithreading and Bezier Curves, Greenflow offers a Customisable and Scalable Traffic Simulation Experience.
                                <br> <br>
                                Throughout Development, Performance Metrics were rigorously Gathered and Visualised using Python Libraries to direct efforts towards the most performance friendly solution.
                            </div>


                            <div class="project-skills"> 
                                <div class="project-skill-tag">Unity Game Engine</div>
                                <div class="project-skill-tag">Parallel Programming</div>
                                <div class="project-skill-tag">C#</div>
                                <div class="project-skill-tag">Python</div>
                                <div class="project-skill-tag">Data Collection</div>
                                <div class="project-skill-tag">Data Visualisation</div>
                            </div>
                            
                            <div class="project-footer">
                                <div class="project-completion-date">
                                    Completion Date: April 2025
                                </div>

                                <div class="project-github-link" >
                                    <a href="https://github.com/Meakinl2/GreenFlow"> GitHub </a>  
                                </div>
                            </div>

                        </div>



                        <div class="project-container">
                            
                             <div class="project-image">
                                <img src="{{url_for('static',filename='images/Project-Images/komodo-hub.png')}}">
                            </div>

                            <div class="project-title">
                                Komodo Hub
                            </div>

                            <div class="project-description">
                                Komodo Hub is a website dedicated to the conservation of Wildlife and their Habitiats on the island of Java in Indonesia.  <br> <br>
                                Spanning three months the focus was on working as a small team using Agile Methodology to create the website from scratch.
                                Featuring a full SQL database, Account Creation, and Basic Data Encryption the site covers a range of topics and skills besides just HTML and CSS
                            </div>


                            <div class="project-skills"> 
                                <div class="project-skill-tag">SQL</div>
                                <div class="project-skill-tag">HTML3</div>
                                <div class="project-skill-tag">CS5</div>
                                <div class="project-skill-tag">Agile Methodology</div>
                                <div class="project-skill-tag">Teamwork</div>
                                <div class="project-skill-tag">Web Develeopment</div>
                                <div class="project-skill-tag">Database Creation</div>
                                <div class="project-skill-tag">Secure Design</div>
                            </div>
                            
                            <div class="project-footer">
                                <div class="project-completion-date">
                                    Completetion Date: November 2023
                                </div>

                                <div class="project-github-link" >
                                    <a href="https://github.com/Meakinl2/Ocean-Gate"> GitHub </a>  
                                </div>
                            </div>

                        </div>



                        <div class="project-container">
                            e 


                        </div>



                        <div class="project-container" style="visibility: hidden;">

                            <div class="project-image">
                                <img src="{{url_for('static',filename='images/Project-Images/placeholder.png')}}">
                            </div>

                            <div class="project-title">
                                Title
                            </div>

                            <div class="project-description">
                                Description
                            </div>


                            <div class="project-skills"> 
                                <div class="project-skill-tag">Skill</div>
                            </div>
                            
                            <div class="project-footer">
                                <div class="project-completion-date">
                                    Completetion Date: Ongoing
                                </div>

                                <div class="project-github-link" >
                                    <a href=""> GitHub </a>  
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        
        </div>

        <!-- <script src="{{url_for('static',filename='scripts/project-image-carousel.js')}}"></script>    -->

    </body>

</html>