<!DOCTYPE html>
<html>

    <head>
        <title> Projects </title>
        <link rel="icon" href="{{url_for('static', filename='images/favicons/felix-512x512.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/generic.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/projects.css')}}">
    </head>

    <body>
        <div class="page">

            <div>
                {% include "navbar.html" %}
            </div>

            <div id="center-outside">

                <div id="centre-inside">

                    <div id="projects-introduction">

                        <div id="projects-introduction-title">
                            PROJECTS
                        </div>

                        <div id="projects-introduction-description">
                            Come take a look at my catalogue of personal projects, which I use to boost to boost my skills.
                        </div>
                        
                    </div>

                    <div id="projects-board">

                        <div class="project-container">
                            
                            <div class="project-image">
                                <img src="{{url_for('static',filename='images/Project-Images/personal-website.png')}}">
                            </div>

                            <div class="project-title">
                                Personal Website
                            </div>

                            
                            <div class="project-description">
                                <div class="project-description-blurb">
                                    Hosted using Python Flask, this website was created from the ground up with custom HTML, CSS, and JavaScript.
                                </div>

                                <div class="project-description-skills"> 
                                    <div class="project-description-skill-tag">HTML3</div>
                                    <div class="project-description-skill-tag">CSS5</div>
                                    <div class="project-description-skill-tag">JavaScript</div>
                                    <div class="project-description-skill-tag">Python</div>
                                    <div class="project-description-skill-tag">Web Development</div>
    
                                </div>                    
                            </div>
                            
                            <a class="project-github-link" href="https://github.com/Meakinl2/Personal-Website">
                                    GitHub 
                            </a>


                        </div>

                        <div class="project-container">
                            <div class="project-image">
                                <img src="{{url_for('static',filename='images/Project-Images/personal-website.png')}}">
                            </div>

                            <div class="project-title">
                                Personal Website
                            </div>

                            <div class="project-description">

                                <div class="project-description-blurb">
                                    This is what the project is.
                                </div>


                                <div class="project-description-skills"> 
                                    Skills
                                </div>

                                
                            </div>

                        </div>

                        <div class="project-container">
                            c


                        </div>

                        <div class="project-container">
                            d


                        </div>

                        <div class="project-container">
                            e 


                        </div>

                        <div class="project-container">
                            f
                        </div>

                    </div>

                </div>

            </div>
        
        </div>

        <!-- <script src="{{url_for('static',filename='scripts/project-image-carousel.js')}}"></script>    -->

    </body>

</html>