<div id="skills">
                <div class="skill-slide" id="python">
                    <div class="skill-wheel" id="python">
                        Python Skill Wheel
                    </div>

                    <div class="skill-info" id="python">
                        Python Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="cpp">
                    <div class="skill-wheel" id="cpp">
                        C++ Skill Wheel
                    </div>

                    <div class="skill-info" id="cpp">
                        C++ Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="html">
                    <div class="skill-wheel" id="html">
                        HTML Skill Wheel
                    </div>

                    <div class="skill-info" id="html">
                        HTML Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="css">
                    <div class="skill-wheel" id="css">
                        CSS Skill Wheel
                    </div>

                    <div class="skill-info" id="css">
                        CSS Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="javascript">
                    <div class="skill-wheel" id="javascript">
                        JavaScript Skill Wheel
                    </div>

                    <div class="skill-info" id="javascript">
                        JavaScript Skill Info
                    </div>
                </div>

                <div class="skill-slide" id="unity">
                    <div class="skill-wheel" id="unity">
                        Unity Skill Wheel
                    </div>

                    <div class="skill-info" id="unity">
                        Unity Skill Info
                    </div>
                </div>

                <div class="skill-shortcuts">
                    <div class="skill-shortcut" id="python" onclick="ManualSlideshow(0)">
                        Python Skill Shortcut
                    </div>

                    <div class="skill-shortcut" id="cpp" onclick="ManualSlideshow(1)">
                        C++ Skill Shortcut
                    </div>

                    <div class="skill-shortcut" id="html" onclick="ManualSlideshow(2)">
                        HTML Skill Shortcut
                    </div>

                    <div class="skill-shortcut" id="css" onclick="ManualSlideshow(3)">
                        CSS Skill Shortcut 
                    </div>

                    <div class="skill-shortcut" id="javascript" onclick="ManualSlideshow(4)">
                        JavaScript Skill Shortcut
                    </div>

                    <div class="skill-shortcut" id="unity" onclick="ManualSlideshow(5)">
                        Unity Skill Shortcut
                    </div>
                </div>
            </div>

        <script src="{{url_for('static',filename='scripts/fade_in.js')}}"></script>
        <script src="{{url_for('static',filename='scripts/skills_slideshow.js')}}"></script>